@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-light-webfont.eot');
    src: url('../fonts/bebasneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-light-webfont.woff') format('woff'),
         url('../fonts/bebasneue-light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-regular-webfont.eot');
    src: url('../fonts/bebasneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue-regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-bold-webfont.eot');
    src: url('../fonts/bebasneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: 700;
}
