/**********/
/* Global */
/**********/
* {
	font-family: 'Bebas Neue';
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: -1px;
}

body {
	height: calc(100vh - 30px);
	background-color: #141311;

	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	overflow-y: hidden;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.main-container {
	margin-left: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/********/
/* Logo */
/********/
.marvel-logo {
	color: #FFFFFF;
}

.marvel-logo > span {
	padding: 0px 3px 0px 2px;
	vertical-align: middle;
}

.marvel-logo > span:first-child {
	font-size: 2.5em;
	background-color: #ED1D24;
}
.marvel-logo > span:nth-child(2) {
	font-size: 2.375em;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
